 <div class="my-reviews">

   <% @reviews.each do |review| %>

    <div class="review">
    
     <h2 class="my-movie-title"><%= review.movie.title %></h2>
     <h4 class="my-review_title"><%= review.review_title %></h3>
     <div class="my-review_body"><%= review.review_content %></div>
       <p class=my-review-created>投稿 : <%= review.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></p>
     <%= link_to '削除', reviewer_path(review.id), method: :delete, class: "my-review-delete", data: { confirm: "本当に削除しますか？" } %>

    </div> 

   <% end %>

 </div>

