<div class="filv_status">

 <% if user_signed_in? %>
    
  <div class="yuusya_image">
   <%= link_to image_tag("yuusya.png", size:"110x90" ), "#" %>
  </div>

  <div class="filv_name">
   <%= @filv.user.filv_name %></p>
  </div> 

  <div id="hero-field" class="hero-field">
   <div id="hero" class="hero">
    <%= image_tag("yuusya.png", alt: "勇者の画像") %>
   </div>
      <div id="monster" class="monster">
    <%= image_tag("monster.png", alt: "モンスターの画像") %>
   </div>
  </div>

  <div id="battle-message" class="battle-message" style="display: none;">
   バトル開始！
  </div>
  
  <div class="status">
   <span class="status__item">Strength: <%= @filv.strength %></span>
   <span class="status__item">Intelligence: <%= @filv.intelligence %></span>
   <span class="status__item">Charisma: <%= @filv.charisma %></span>
  </div>

 <% else %>

  <%= link_to image_tag("yuusya.png", size:"250x250" ), new_user_session_path %>
    <h2> <%= link_to 'Please login', new_user_session_path %> </h2>
  <% end %>

</div>
