<div class="reviews_container"> 

  <% if @movie.present? %>

  <div class="reviews_header"> 

   <h2 class="reviews__title">Review</h2>

   <div class="button">
    <%= link_to "映画一覧・検索", movies_path, class: "movie-search" %>
   </div>

  </div>   

  <div class="movie_info"> 

   <h2 class="movie-title"><%= @movie.title %></h2>

    <div class="movie_details">
      <div class="movie_release-date">公開日: <%= @movie.release_at %></div>
      <div class="movie_director">監督: <%= @movie.director %></div>
    </div>
     
    <% if user_signed_in? && !current_user.reviewer.reviews.where(movie: @movie).exists? %>
      <%= link_to 'レビュー投稿', new_movie_review_path(@movie),  class:"review-btn" %>
      <% else %>
      <a class="user_reviewed"> あなたはこの映画のレビューを投稿済みです。 </a> 
    <% end %>

  </div>  

</div>

<div class="reviews">

  <% @reviews.each do |review| %>

   <div class="review">
    <h3 class="review_title"><%= review.review_title %></h3>
    <div class="review_body"><%= review.review_content %></div>
    <div class="review_review">
     このレビューを評価してください
     <div class="review_evaluation">
     <%= form_with model: Rating.new(review_id: review.id), url: movie_review_ratings_path(review.movie, review), method: :post do |f| %>
     <div class="field">
      <%= f.label :感動的 %>
      <%= f.select :e_rating, options_for_select((1..5).map { |i| [i, i] }), { include_blank: true } %>
     </div>
     <div class="field">
      <%= f.label :論理的%>
      <%= f.select :l_rating, options_for_select((1..5).map { |i| [i, i] }), { include_blank: true } %>
     </div>
     <div class="field">
      <%= f.label :魅力的 %>
      <%= f.select :c_rating, options_for_select((1..5).map { |i| [i, i] }), { include_blank: true } %>
     </div>
     <%= f.submit "評価する" %>
     <% end %>
    </div>
   </div> 

  </div>

 <% end %>

 <% else %>

  <div class="reviews_header">
   <h2 class="reviews__title">Review</h2>
   <p class="reviews__empty-text">レビューを読みたい、又は投稿したい映画を探してください</p>
   <div class="button">
    <%= link_to "映画一覧・検索", movies_path, class: "movie-search" %>
   </div>
  </div>

 <% end %>

</div>



