
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @filv, local: true) do |form| %>
      <%= form.text_field :strength, placeholder: "strength" %>
      <%= form.text_field :intelligence, placeholder: "intelligence" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>


  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @review, local: true) do |form| %>     
      <%= form.text_area :content, placeholder: "text", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
