<!DOCTYPE html>
<html>
  <head>
    <title>ProtoFilv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">

   <div class="header_bar">

    <h1 ><a class="main_title" href="/">FIlVerse</a></h1>
  
    <div class="top-button">

      <% if user_signed_in? %>

      
      <%# link_to current_user.nickname, "#", class: "user-nickname" %>

     <div class="button">
      <%= link_to 'マイページ', reviewers_path, method: :get, class: "my-page" %>
     </div>

     <div class="button">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
     </div>

      <% else %>
      
      <div class="button">
       <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      </div>
      <div class="button">
       <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
      </div>
      
      <% end %>

    </div>

   </header>



  <%= yield %>

  <footer>
  <p>Copyright FilVerse 2023.</p>
  </footer>

  </body>

</html>


 
 