<!DOCTYPE html>
<html>
  <head>
    <title>ProtoFilv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">

   <div class="header_bar">

    <h1 ><a class="main_title" >FIlVerse</a></h1>

    <div class="top-button">

     <div class="button">
      <a class="my-page" >マイページ</a>
     </div>

     <div class="button">
      <a class="logout" >ログアウト</a>
     </div>

     <div class="button">
      <a class="movie-search" >映画検索</a>
     </div>

    </div>

   </header>



  <%= yield %>

  <footer>
  <p>Copyright FilVerse 2023.</p>
  </footer>

  </body>

</html>

